<!doctype html>

<html lang="en">

    <head>
        <meta charset="utf-8">

        <title>Mobile Wave</title>
        <meta name="description"
            content="Mobile Wave">
        <meta name="author"
            content="Yehia Abo Sedera">


    </head>

    <body>
        <pre id="di1">

        </pre>

        <script src="../bower_components/mustache.js/mustache.min.js"></script>
        <script src="../lib/mobile-wave-lib.js"></script>
        <script type="text/javascript">
            var template = {
                "context":
                {
                    "rdf": "http://www.w3.org/1999/02/22-rdf-syntax-ns#",
                    "rdfs": "http://www.w3.org/2000/01/rdf-schema#",
                    "xsd": "http://www.w3.org/2001/XMLSchema#",
                    "ssn": "http://purl.oclc.org/NET/ssnx/ssn#",
                    "mw": "http://www.semanticweb.org/mobile-wave#",
                    "sao": "http://iot.ee.surrey.ac.uk/citypulse/ontologies/sao/sao#",
                    "prov": "https://www.w3.org/ns/prov#",
                    "generatedAt":
                    {
                        "@id": "prov:generated",
                        "@type": "http://www.w3.org/2001/XMLSchema#date"
                    },
                    "SmartPhone":
                    {
                        "@id": "mw:SmartPhone",
                        "@type": "@id"
                    },
                    "GPSSensor":
                    {
                        "@id": "mw:GPSSensor",
                        "@type": "@id"
                    },
                    "GPSSensorOutput":
                    {
                        "@id": "mw:GPSSensorOutput",
                        "@type": "@id"
                    },
                    "GPSObservation":
                    {
                        "@id": "mw:GPSObservation",
                        "@type": "@id"
                    },
                    "Altitude":
                    {
                        "@id": "mw:Altitude",
                        "@type": "@id"
                    },
                    "Heading":
                    {
                        "@id": "mw:Heading",
                        "@type": "@id"
                    },
                    "Latitude":
                    {
                        "@id": "mw:Latitude",
                        "@type": "@id"
                    },
                    "Longitude":
                    {
                        "@id": "mw:Longitude",
                        "@type": "@id"
                    },
                    "Speed":
                    {
                        "@id": "mw:Speed",
                        "@type": "@id"
                    },
                    "GeoLocation": "mw:GeoLocation",
                    "hasQuantityValue":
                    {
                        "@id": "mw:hasQuantityValue",
                        "@type": "xsd:string"
                    },
                    "isValueFor":
                    {
                        "@id": "mw:isValueFor",
                        "@type": "@id"
                    }
                },
                "dGraph": [
                {
                    "mapping": "SmartPhone",
                    "source": "device",
                    "target": "SmartPhone_{{uuid}}"
                },
                {
                    "mapping": "GPSSensor",
                    "source": "device",
                    "target": "GPSSensor_{{uuid}}",
                    "properties": [
                    {
                        "mapping": "ssn:onPlatform",
                        "source": "device",
                        "target": "SmartPhone_{{uuid}}"
                    }]
                }],
                "iGraph": [
                {
                    "mapping": "GPSSensorOutput",
                    "source": "device",
                    "target": "GPSSensorOutput_{{uuid}}_{{@ts}}",
                    "properties": [
                    {
                        "mapping": "ssn:isProducedBy",
                        "source": "device",
                        "target": "GPSSensor_{{uuid}}"
                    }]
                },
                {
                    "mapping": "GPSObservation",
                    "source": "device",
                    "target": "GPSObservation_{{uuid}}_{{@ts}}",
                    "properties": [
                    {
                        "mapping": "ssn:observationResult",
                        "source": "device",
                        "target": "GPSSensorOutput_{{uuid}}"
                    },
                    {
                        "mapping": "ssn:observedBy",
                        "source": "device",
                        "target": "GPSSensor_{{uuid}}"
                    },
                    {
                        "mapping": "ssn:featureOfInterest",
                        "source": "device",
                        "target": "SmartPhone_{{uuid}}"
                    }]
                },
                {
                    "mapping": "Altitude",
                    "source": "position",
                    "target": "Altitude_{{@ts}}",
                    "properties": [
                    {
                        "mapping": "hasQuantityValue",
                        "source": "position",
                        "target": "{{coords.altitude}}",
                        "type": "dataProperty"
                    },
                    {
                        "mapping": "GPSSensorOutput",
                        "source": "device",
                        "target": "GPSSensorOutput_{{uuid}}_{{@ts}}"
                    }]
                },
                {
                    "mapping": "Heading",
                    "source": "position",
                    "target": "Heading_{{@ts}}",
                    "properties": [
                    {
                        "mapping": "hasQuantityValue",
                        "source": "position",
                        "target": "{{heading}}",
                        "type": "dataProperty"
                    },
                    {
                        "mapping": "GPSSensorOutput",
                        "source": "device",
                        "target": "GPSSensorOutput_{{uuid}}_{{@ts}}"
                    }]
                },
                {
                    "mapping": "Latitude",
                    "source": "position",
                    "target": "Latitude_{{@ts}}",
                    "properties": [
                    {
                        "mapping": "hasQuantityValue",
                        "source": "position",
                        "target": "{{latitude}}",
                        "type": "dataProperty"
                    },
                    {
                        "mapping": "GPSSensorOutput",
                        "source": "device",
                        "target": "GPSSensorOutput_{{uuid}}_{{@ts}}"
                    }]
                },
                {
                    "mapping": "Longitude",
                    "source": "position",
                    "target": "Longitude_{{@ts}}",
                    "properties": [
                    {
                        "mapping": "hasQuantityValue",
                        "source": "position",
                        "target": "{{longitude}}",
                        "type": "dataProperty"
                    },
                    {
                        "mapping": "GPSSensorOutput",
                        "source": "device",
                        "target": "GPSSensorOutput_{{uuid}}_{{@ts}}"
                    }]
                },
                {
                    "mapping": "Speed",
                    "source": "position",
                    "target": "Speed_{{@ts}}",
                    "properties": [
                    {
                        "mapping": "hasQuantityValue",
                        "source": "position",
                        "target": "{{speed}}",
                        "type": "dataProperty"
                    },
                    {
                        "mapping": "GPSSensorOutput",
                        "source": "device",
                        "target": "GPSSensorOutput_{{uuid}}_{{@ts}}"
                    }]
                }]
            };

            function getRandomArbitrary(min, max)
            {
                return Math.random() * (max - min) + min;
            }
            console.log("mobile wave starting!");
            var options = {
                "template": template,
                "templateURI": "http://mw-ysedera.rhcloud.com/template",
                "registrationURI": "http://localhost:3001/register",
                "publicationURI": "http://localhost:3001/publish",
            };

            var device = {
                uuid: 1234
            };
            var mw = MobileWave(options);
            setInterval(function()
            {
                var data = {
                    coords:
                    {
                        latitude: getRandomArbitrary(0, 100),
                        longitude: getRandomArbitrary(0, 100),
                        altitude: getRandomArbitrary(0, 100),
                        accuracy: getRandomArbitrary(0, 100),
                        altitudeAccuracy: getRandomArbitrary(0, 100),
                        heading: getRandomArbitrary(0, 100),
                        speed: getRandomArbitrary(0, 100),

                    },
                    timestamp: new Date(),
                };
                mw.transform(data, function(msg)
                {
                    document.getElementById('di1').innerHTML = JSON.stringify(msg, null, 2);
                });
            }, 10000);
            console.log("mobile wave ending!");
        </script>
    </body>

</html>
